/* You can add global styles to this file, and also import other style files */
@import "_color";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace; // background-color: #090979;
  // background: rgb(12, 9, 121);
  // background: -moz-linear-gradient(90deg, rgba(12, 9, 121, 1) 0%, rgba(7, 0, 255, 1) 100%);
  // background: -webkit-linear-gradient(90deg, rgba(12, 9, 121, 1) 0%, rgba(7, 0, 255, 1) 100%);
  // background: linear-gradient(90deg, rgba(12, 9, 121, 1) 0%, rgba(7, 0, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0979",endColorstr="#0700ff",GradientType=1);
}

h1 {
  font-family: "Roboto Mono", monospace !important;
  color: white;
  font-weight: 800;
}

div {
  font-family: "Roboto Mono", monospace !important;
}

main-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
}

toolbar-header {
  min-width: 100vw;
  width: 100vw;
  height: 64px;
  top: 0;
  position: fixed;
  margin-bottom: 0;
  z-index: 100;
}

router-outlet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

main-auction,
my-team {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 25;
}
highlight-card {
  position: absolute;
  top: 5vh;
  left: 0;
  z-index: 10;
}

.flex-form {
  min-height: 100vh;
}
button.mat-button {
  background-color: $control-color;
  color: white;
  margin: 0 auto;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $control-color;
}

section {
  min-height: 100%;
  width: 100vw;
}

.mat-form-field-appearance-legacy .mat-hint {
  color: goldenrod !important;
}

.mat-form-field-empty.mat-form-field-label,
.signup-form .mat-input-element::placeholder,
.signup-form .mat-input-element {
  color: black !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black;
}

.mat-tab-label .mat-tab-label-content {
  color: black;
}

.text-center {
  text-align: center;
  color: $primary-background;
}

// button:hover {
//   transform: scale3d(1.2, 1.2, 1);
//   -webkit-transform: scale3d(1.2, 1.2, 1);
//   transition: all 0.5s cubic-bezier(0, 1.27, 0.46, 1.65);
//   -webkit-transition: all 0.5s cubic-bezier(0, 1.27, 0.46, 1.65);
// }

i,
mat-icon {
  cursor: pointer;
  color:green;
}

@media screen and (max-width: 1025px) {
}
