<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5vw">
  <div fxFlex=20 class="card flex-item" *ngFor="let otherTeam of otherTeamsArr; let i = index">
    <div class="card_image">
      <img [attr.src]="otherTeamsArr[i].photoUrl" />
    </div>
    <div class="cardContent">
      <ng-container *ngIf="otherTeam.auctionPlayers?.length>0">
        <button class="cardContentButton" matTooltip="View Players" matTooltipPosition="above"
          (click)="showPlayers(i);"><i class="material-icons">search</i>
        </button>
      </ng-container>
      <p id="cardTeamName">{{otherTeam.teamName}}</p>
      <p class="cardSubTitle">Email: {{otherTeam.email}}</p>
      <p class="cardSubTitle">Budget: ${{otherTeam.budget}}</p>
      <p class="cardSubTitle">Position: {{otherTeam.draftPosition}}</p>
    </div>
  </div>