@import "_color";

.card {
  width: 250px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5em;
  margin-bottom: 3em;
}
.card .cardContent {
  position: relative;
  padding: 5%;
  padding-top: 15%;
  margin-top: -10%;
  padding-bottom: 8%;
  overflow: hidden;
}

.card .cardContent .cardContentButton {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
  background-color: $primary-background;
  position: absolute;
  right: 4%;
  top: 5px;
  z-index: 3;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.card .cardContent .cardContentButton i {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  color: white;
}
.card .cardContent .cardContentButton i.is-active {
  display: none;
}
.card .cardContent .cardContentButton.is-active {
  right: 15%;
  top: 40px;
  -webkit-animation: ejemplo 0.5s 0.2s forwards;
  -moz-animation: ejemplo 0.5s 0.2s forwards;
  -o-animation: ejemplo 0.5s 0.2s forwards;
  -ms-animation: ejemplo 0.5s 0.2s forwards;
  animation: ejemplo 0.5s 0.2s forwards;
}
.card .cardContent .cardContentName {
  color: $primary-background;
  font-size: 25px;
}
.card .cardContent .cardContentJob {
  color: $primary-background;
  font-size: 15px;
}
.card .cardContent p {
  margin: 0;
  z-index: 2;
}
.card .cardContent .cardContentButton:focus {
  outline: none;
}
.card .card_image {
  width: 100%;
  position: relative;
  margin-bottom: -1%;
  z-index: 2;
  -webkit-transition: z-index 0s 0.2s;
  -moz-transition: z-index 0s 0.2s;
  -ms-transition: z-index 0s 0.2s;
  -o-transition: z-index 0s 0.2s;
  transition: z-index 0s 0.2s;
}
.card .card_image i {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.card .card_image img {
  width: 100%;
}
.card .card_image.is-active {
  z-index: 4;
}
@-webkit-keyframes ejemplo {
  100% {
    -webkit-transform: scale(12);
    -moz-transform: scale(12);
    -ms-transform: scale(12);
    -o-transform: scale(12);
    transform: scale(12);
  }
}
@keyframes ejemplo {
  100% {
    -webkit-transform: scale(12);
    -moz-transform: scale(12);
    -ms-transform: scale(12);
    -o-transform: scale(12);
    transform: scale(12);
  }
}

.flex-container {
  width: 98vw;
}
