<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5vw">
  <div fxFlex=20 class="card flex-item" *ngFor="let otherTeam of otherTeamsArr; let i = index">
    <div class="card_image">
      <img [attr.src]="otherTeamsArr[i].photoUrl" />
    </div>
    <div class="cardContent">
      <button class="cardContentButton" matTooltip="View Players" matTooltipPosition="above"
        (click)="showPlayers(i);"><i class="material-icons">search</i></button>
      <p id="cardTeamName">{{otherTeam.teamName}}</p>
      <p class="cardSubTitle">{{otherTeam.email}}</p>
      <p class="cardSubTitle">Draft Position: {{otherTeam.draftPosition}}</p>
    </div>
  </div>