<section>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Lobby">
            <ng-template matTabLabel>
                <span>LOBBY</span>
            </ng-template>
            <auction-lobby [thisAuctionTeam]="thisAuctionTeam" [thisActiveLeague]="thisActiveLeague"></auction-lobby>
        </mat-tab>
        <mat-tab label="Quaterback">
            <ng-template matTabLabel>
                <span [matBadge]="numQb" matBadgeOverlap="false">QB</span>
            </ng-template>
            <base-table [columnObjects]="PLAYER_COL_OBJ" [colDisplay]="PLAYER_DISPLAY"
                [dataArray]="this.playerStoreService.qbStore" [thisTeam]="thisAuctionTeam">
                <ng-container
                    *ngIf="thisActiveLeague.draftTurn===thisAuctionTeam.draftPosition && thisActiveLeague.currentPlayer===''">
                    <ng-template #buttonTemplate let-i=index>
                        <mat-icon (click)="bidQbPlayer(i)" matTooltip="Auction Player" matTooltipPosition="before">
                            add
                        </mat-icon>
                    </ng-template>
                </ng-container>
            </base-table>
        </mat-tab>
        <mat-tab label="Runningback">
            <ng-template matTabLabel>
                <span [matBadge]="numRb" matBadgeOverlap="false">RB</span>
            </ng-template>
            <base-table [columnObjects]="PLAYER_COL_OBJ" [colDisplay]="PLAYER_DISPLAY"
                [dataArray]="this.playerStoreService.rbStore">
                <ng-container *ngIf="thisActiveLeague.draftTurn === thisAuctionTeam.draftPosition">
                    <ng-template #buttonTemplate let-i=index>
                        <mat-icon (click)="bidRbPlayer(i)" matTooltip="Auction Player" matTooltipPosition="before">
                            exit_to_app
                        </mat-icon>
                    </ng-template>
                </ng-container>
            </base-table>
        </mat-tab>
        <mat-tab label="Wide Receiver">
            <ng-template matTabLabel>
                <span [matBadge]="numWr" matBadgeOverlap="false">WR</span>
            </ng-template>
            <base-table [columnObjects]="PLAYER_COL_OBJ" [colDisplay]="PLAYER_DISPLAY"
                [dataArray]="this.playerStoreService.wrStore">
                <ng-container *ngIf="thisActiveLeague.draftTurn === thisAuctionTeam.draftPosition">
                    <ng-template #buttonTemplate let-i=index>
                        <mat-icon (click)="bidWrPlayer(i)" matTooltip="Auction Player" matTooltipPosition="before">
                            exit_to_app
                        </mat-icon>
                    </ng-template>
                </ng-container>
            </base-table>
        </mat-tab>
        <mat-tab label="Tight End">
            <ng-template matTabLabel>
                <span [matBadge]="numTe" matBadgeOverlap="false">TE</span>
            </ng-template>
            <base-table [columnObjects]="PLAYER_COL_OBJ" [colDisplay]="PLAYER_DISPLAY"
                [dataArray]="this.playerStoreService.teStore">
                <ng-container *ngIf="thisActiveLeague.draftTurn === thisAuctionTeam.draftPosition">
                    <ng-template #buttonTemplate let-i=index>
                        <mat-icon (click)="bidTePlayer(i)" matTooltip="Auction Player" matTooltipPosition="before">
                            exit_to_app
                        </mat-icon>
                    </ng-template>
                </ng-container>
            </base-table>
        </mat-tab>
        <mat-tab label="Defense">
            <ng-template matTabLabel>
                <span [matBadge]="numDef" matBadgeOverlap="false">DEF</span>
            </ng-template>
            <base-table [columnObjects]="PLAYER_COL_OBJ" [colDisplay]="PLAYER_DISPLAY"
                [dataArray]="this.playerStoreService.defStore">
                <ng-container *ngIf="thisActiveLeague.draftTurn === thisAuctionTeam.draftPosition">
                    <ng-template #buttonTemplate let-i=index>
                        <mat-icon (click)="bidDefPlayer(i)" matTooltip="Auction Player" matTooltipPosition="before">
                            exit_to_app
                        </mat-icon>
                    </ng-template>
                </ng-container>
            </base-table>
        </mat-tab>
        <mat-tab label="Kicker">
            <ng-template matTabLabel>
                <span [matBadge]="numKicker" matBadgeOverlap="false">K</span>
            </ng-template>
            <base-table [columnObjects]="PLAYER_COL_OBJ" [colDisplay]="PLAYER_DISPLAY"
                [dataArray]="this.playerStoreService.kStore">
                <ng-container *ngIf="thisActiveLeague.draftTurn === thisAuctionTeam.draftPosition">
                    <ng-template #buttonTemplate let-i=index>
                        <mat-icon (click)="bidKPlayer(i)" matTooltip="Auction Player" matTooltipPosition="before">
                            exit_to_app
                        </mat-icon>
                    </ng-template>
                </ng-container>
            </base-table>
        </mat-tab>
    </mat-tab-group>
</section>