// $blue-background: linear-gradient(90deg, rgba(25,118,210,1) 0%, rgba(0,128,255,1) 210%);
$body-color: rgb(225, 226, 225);
$primary-background: #12005e;
$secondary-background: #303f9f;
$button-color: #f9a825;
// $control-color: #8c0032;
$control-color: #12005e;

$table-darker-color: rgb(225, 226, 225);
$table-lighter-color: rgb(245, 245, 246);
$red: #b71c1c;
