<h1 mat-dialog-title>Place your Bid</h1>
<div mat-dialog-content>
    <p>Your budget is: {{data.budget}}</p>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="fill">
            <mat-label>Bid amount:</mat-label>
            <input type="number" placeholder="" matInput value="1" class="number" [formControl]="bidCtrl"
                onkeydown="return event.keyCode !== 69" [errorStateMatcher]="matcher">
            <mat-error *ngIf="bidCtrl.hasError('required')">
                Bid amount is <strong>Required</strong>
            </mat-error>
            <mat-error *ngIf="bidCtrl.hasError('min')">
                <strong>Minimum</strong> of ${{thisCurrentBid}} is <strong>Required</strong>
            </mat-error>
            <mat-error *ngIf="bidCtrl.hasError('max')">
                Maximum Bid <strong>Exceeded</strong>
            </mat-error>
        </mat-form-field>

        <button mat-button (click)="bid()" [mat-dialog-close]="bidCtrl" cdkFocusInitial>Ok</button>
    </form>
</div>