@import "_home";
@import "_button";

@include home();
@include button();

mat-label.mat-label-color {
  color: black;
}

div.portfoliocard {
  background-color: #fafafa;
}

#createLeagueButton {
  margin-bottom: 2vw;
}

div.portfoliocard {
  height: 605px;
}

button.mat-button {
  width: 10em;
  height: auto;
}
