<div class="portfoliocard">
    <h1 class="text-center"><u>Create Auction</u></h1>
    <form class="flex-form" [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="1.5vw">
            <mat-form-field>
                <mat-label class="mat-label-color">League Name</mat-label>
                <input matInput type="text" formControlName="leagueNameCtrl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="formGroup.controls.leagueNameCtrl.hasError('required')">
                    League Name is <strong>Required</strong>
                </mat-error>
                <mat-error *ngIf="formGroup.controls.leagueNameCtrl.hasError('maxlength')">
                    Maximum of
                    <strong>{{formGroup.controls.leagueNameCtrl.errors.maxlength.requiredLength}}</strong>
                    characters
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Player Budget</mat-label>
                <input matInput type="number" class="number" formControlName="budgetCtrl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="formGroup.controls.budgetCtrl.hasError('required')">
                    Budget is <strong>Required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Max players</mat-label>
                <input matInput type="number" formControlName="maxPlayerCtrl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="formGroup.controls.maxPlayerCtrl.hasError('required')">
                    Maximum number of players is <strong>Required</strong>
                </mat-error>
            </mat-form-field>
            <mat-slide-toggle formControlName="pprCtrl">
                PPR
            </mat-slide-toggle>
            <mat-slide-toggle (click)="toggleTypeOfDraft()" formControlName="typeCtrl">
                {{typeOfDraft}}
            </mat-slide-toggle>
        </div>
        <br />
        <br />
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <button mat-button class="non-home-button mat-elevation-z7 margin-center" type="submit">Submit</button>
        </div>
    </form>
</div>