<mat-toolbar class="toolbar mat-elevation-z7" role="banner">
    <div id="left-spacer"></div>
    <div class="menu-collapsed">
        <div class="bar"></div>
        <nav>
            <ul>
                <li><a routerLink="/my-team" routerLinkActive="active">My Teams</a></li>
                <li><a routerLink="/auction" routerLinkActive="active">Auction</a></li>
                <li><a routerLink="/my-account" routerLinkActive="active">My Account</a></li>
            </ul>
        </nav>
    </div>
    <div id="mid-spacer">
        <h1>Fantasy Football Auction</h1>
    </div>

    <div id="right-spacer">
        <span id="logout">Logout</span>
    </div>
</mat-toolbar>