<ng-container *ngIf="!auth.isAuthenticated">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Sign In">
            <user-signin></user-signin>
        </mat-tab>
        <mat-tab label="Sign Up">
            <user-signup></user-signup>
        </mat-tab>
    </mat-tab-group>
</ng-container>
<router-outlet *ngIf="auth.isAuthenticated">
    <!-- <section>
        <div>You</div>
        <div>
            <span id="home-text">are LOGGED IN</span>
        </div>
    </section> -->
    <section>
        <div id="text">
            <h1>L<span id="offset">ogg</span>ed</h1>
            <h1>I<span id="offset">n</span></h1>
        </div>
    </section>
</router-outlet>