<ng-container *ngIf="!auth.isAuthenticated">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Sign In">
            <user-signin></user-signin>
        </mat-tab>
        <mat-tab label="Sign Up">
            <user-signup></user-signup>
        </mat-tab>
    </mat-tab-group>
</ng-container>

<router-outlet *ngIf="auth.isAuthenticated">

    <header>
        <section class="header-content">
            <h1 class="header-title animate-pop-in">Welcome!</h1>
            <h3 class="header-subtitle animate-pop-in">You are logged in</h3>
        </section>
    </header>
</router-outlet>