<h1 class="text-center"><u>JOIN SNAKE DRAFT</u></h1>
<ng-container *ngIf="this.teamArr.length>0">
    <base-table [columnObjects]="SNAKE_COL_OBJ" [colDisplay]="SNAKE_DISPLAY" [dataArray]="this.teamArr">
        <ng-template #buttonTemplate let-i=index>
            <mat-icon (click)="enterSnake(i)">exit_to_app</mat-icon>
        </ng-template>
    </base-table>
</ng-container>
<ng-container *ngIf="this.teamArr.length===0">
    <br>
    <h2 id="noLeaguesLabel">No Pending Auction Leagues</h2>
</ng-container>