@import "_button";
@import "_home";
@import "_color";

@include home();
@include button();
button.mat-fab {
  background-color: $control-color;
}

section {
  min-height: auto;
  min-width: auto;
}

button.oval {
  margin-top: 2rem;
}
