<section fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card class="home-card mat-elevation-z5">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <h1 class="mobile-h1">Sign In</h1>
            <div class="social-container" fxLayout="row" fxLayoutAlign="center center">
                <a (click)="loginGoogle()" class="social mat-elevation-z5">
                    <i class="fa fa-google"></i>
                </a>
            </div>
        </div>

        <form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <br>
                <input matInput placeholder="Email" formControlName="loginEmailCtrl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="formGroup.controls.loginEmailCtrl.hasError('maxlength')">
                    Maximum of <strong>{{formGroup.controls.loginEmailCtrl.errors.maxlength.requiredLength}}</strong>
                    characters
                </mat-error>
                <mat-error
                    *ngIf="formGroup.controls.loginEmailCtrl.hasError('email') && !formGroup.controls.loginEmailCtrl.hasError('required')">
                    Please enter a <strong>valid</strong> email address
                </mat-error>
                <mat-error *ngIf="formGroup.controls.loginEmailCtrl.hasError('required')">
                    Email is <strong>REQUIRED</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="loginPassCtrl" [errorStateMatcher]="matcher">
                <br>
                <br>
                <mat-error *ngIf="formGroup.get('loginPassCtrl').errors &&
        formGroup.get('loginPassCtrl').dirty && formGroup.controls.loginPassCtrl.hasError('required')">
                    Password is <strong>REQUIRED</strong>
                </mat-error>
                <mat-error *ngIf="formGroup.get('loginPassCtrl').errors &&
        formGroup.get('loginPassCtrl').dirty && !formGroup.controls.loginPassCtrl.hasError('required')">
                    Password is <strong>REQUIRED</strong>
                </mat-error>
                <mat-error *ngIf="formGroup.get('loginPassCtrl').errors &&
        formGroup.get('loginPassCtrl').dirty && formGroup.controls.loginPassCtrl.hasError('maxlength')">
                    Maximum of <strong>{{formGroup.controls.loginPassCtrl.errors.maxlength.requiredLength}}</strong>
                    characters
                </mat-error>
            </mat-form-field>
            <mat-card-actions>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <button class="button-home mat-elevation-z4" type="submit" (click)="login()">Sign in</button>
                </div>
            </mat-card-actions>
        </form>

    </mat-card>
</section>