<h1 class="text-center"><u>JOIN AUCTION DRAFT</u></h1>
<ng-container *ngIf="this.auctionArr.length>0">
    <base-table [columnObjects]="AUCTION_COL_OBJ" [colDisplay]="AUCTION_DISPLAY" [dataArray]="this.auctionArr">
        <ng-template #buttonTemplate let-i=index>
            <mat-icon (click)="addLeague(i)">add</mat-icon>
        </ng-template>
    </base-table>
</ng-container>
<ng-container *ngIf="this.auctionArr.length===0">
    <br>
    <h2 id="noLeaguesLabel">No available Auction Leagues</h2>
    <h3>Visit Pending Auctions under your Team Page</h3>
</ng-container>