@import "_table";
@import "_color";

section {
  height: 90vh;
}
table {
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
  width: auto;
  color: white;
  background-color: $control-color;
}
mat-paginator {
  width: auto;
  margin: 0 auto;
  position: relative;
  background-color: $control-color;
}
#search-field {
  left: 20vw;
  position: relative;
}

.mat-select-value {
  color: white !important;
}

.icon-red {
  color: $red;
}

.icon-green {
  color: green;
}

tr.mat-header-row th {
  color: white;
  font-weight: 250;
  text-align: center;
}

tr.mat-header-row {
  // background-color:darkslateblue;
  // background-color:slateblue;
  // background-color: cornflowerblue;
  background-color: $control-color; //  background-color:dodgerblue;
}

.mat-row:nth-child(even) {
  background-color: $table-lighter-color;
}

.mat-row:nth-child(odd) {
  background-color: white;
}

mat-cell,
.mat-cell:nth-child(n + 3),
mat-header-cell,
.mat-header-cell:nth-child(n + 3) {
  min-height: auto; // overrides the 'inherit' that set the min height of the row
  padding: 0 6px 0;
}

mat-header-cell,
.mat-header-cell:nth-child(n + 6) {
  min-height: auto; // overrides the 'inherit' that set the min height of the row
  padding: 0 0 0 1.35rem;
}

mat-cell:nth-child(n + 6),
.mat-cell:nth-child(n + 6) {
  text-align: center;
}

.mat-cell:first-child {
  padding-left: 4rem;
  text-align: left;
}

.mat-header-cell:first-child {
  padding-left: 5.5rem;
  text-align: left;
}

div.mat-sort-header-container {
  text-align: center;
}

// Expandable Row
.expand-detail {
  overflow: hidden;
  display: flex;
}

.dataArray-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

tr.detail-row {
  height: 0;
}

tr.expanded-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.expanded-row:not(.expanded-row):active {
  background: #efefef;
}

.expanded-row td {
  border-bottom-width: 0;
}

#option-image {
  width: 1rem;
}

#option-row {
  width: 100%;
}

.delete-tooltip-red {
  background: $red;
}

.add-tooltip-green {
  background: #4bb543;
}

td {
  text-transform: capitalize;
}

#search-icon {
  color: goldenrod;
}

.mat-input-invalid .mat-input-placeholder {
  color: $red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: $red;
}

mat-error {
  color: white;
}
.mat-select-arrow {
  color: black !important;
}
mat-cell,
.mat-cell {
  color: black;
}
@media screen and (max-width: 1024px) {
  tr.mat-header-row {
    background-color: transparent;
  }
  tr.mat-header-row th {
    color: black;
  }
  table,
  mat-paginator {
    max-width: 100%;
    left: 1vw;
  }
  #search-field {
    left: 1vw;
    top: 8vh;
  }
}
