@import "_table";
@import "_color";

// @include mat-table-cols(
//   (
//     Select: (
//       width: 1rem
//     ),
//     Name: (
//       width: 10rem
//     ),
//     Team: (
//       width: 1rem
//     ),
//     MinPrice: (
//       width: 1rem
//     ),
//     MaxPrice: (
//       width: 1rem
//     ),
//     AvgPrice: (
//       width: 1rem
//     ),
//     Rec: (
//       width: 1rem
//     ),
//     RecYD: (
//       width: 1rem
//     ),
//     RedTD: (
//       width: 1rem
//     ),
//     Fantasy_Points: ()
//   )
// );

@include mat-table-cols(
  (
    Select: (
      width: 1rem
    ),
    Name: (
      width: 10rem
    ),
    Team: (
      width: 1rem
    ),
    MinPrice: (
      width: 1rem
    ),
    MaxPrice: (
      width: 1rem
    ),
    AvgPrice: (
      width: 1rem
    ),
    PassYD: (
      width: 1rem
    ),
    PassTD: (
      width: 1rem
    ),
    INT: (
      width: 1rem
    ),
    RushYD: (
      width: 1rem
    ),
    RushTD: (
      width: 1rem
    ),
    Rec: (
      width: 1rem
    ),
    RecYD: (
      width: 1rem
    ),
    RedTD: (
      width: 1rem
    ),
    Sack: (
      width: 1rem
    ),
    TD: (
      width: 1rem
    ),
    FumbleRec: (
      width: 1rem
    ),
    Safety: (
      width: 1rem
    ),
    Fumble: (
      width: 1rem
    ),
    Points_Allowed: (
      width: 1rem
    ),
    Fantasy_Points: (
      width: 1rem
    )
  )
);

section {
  height: 100%;
  max-width: 75vw;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 5% auto;
}
table {
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
  width: auto;
  color: white;
  // background-color: $control-color; <- Do not do this
}
mat-paginator {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: $control-color;
}
#search-field {
  left: 20vw;
  position: relative;
}

.mat-select-value {
  color: white !important;
}

.icon-red {
  color: $red;
}

.icon-green {
  color: green;
}

tr.mat-header-row th {
  color: white;
  font-weight: 250;
  text-align: center;
}

tr.mat-header-row {
  // background-color:darkslateblue;
  // background-color:slateblue;
  // background-color: cornflowerblue;
  background-color: $control-color; //  background-color:dodgerblue;
}

table {
  border-collapse: collapse;
}

table,
th,
mat-cell,
.mat-cell,
td {
  border: 0;
}

.mat-row:nth-child(even) {
  background-color: $table-lighter-color;
}

.mat-row:nth-child(odd) {
  background-color: white;
}

mat-cell,
.mat-cell:nth-child(n + 3),
mat-header-cell,
.mat-header-cell:nth-child(n + 3) {
  min-height: auto; // overrides the 'inherit' that set the min height of the row
  padding: 0;
  text-align: center;
}

.mat-cell:first-child {
}

.mat-header-cell:first-child {
  padding-left: 1rem;
  text-align: center;
}

div.mat-sort-header-container {
  text-align: center;
}

.delete-tooltip-red {
  background: $red;
}

.add-tooltip-green {
  background: #4bb543;
}

td {
  text-transform: capitalize;
}

td.mat-cell {
  border-bottom: 0;
}

#search-icon {
  color: goldenrod;
}

.mat-input-invalid .mat-input-placeholder {
  color: $red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: $red;
}

mat-error {
  color: white;
}
.mat-select-arrow {
  color: black !important;
}
mat-cell,
.mat-cell {
  color: black;
}

.fa-user-plus {
  color: green;
}

@media screen and (max-width: 1024px) {
  tr.mat-header-row {
    background-color: transparent;
  }
  tr.mat-header-row th {
    color: black;
  }
  table,
  mat-paginator {
    max-width: 100%;
    left: 1vw;
  }
  #search-field {
    left: 1vw;
    top: 8vh;
  }
}
