<!-- <section>
    <form [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="1.5vw">
            <mat-form-field>
                <mat-label class="white-color">DisplayName</mat-label>
                <br>
                <input matInput placeholder="Name" color="white" type="text" formControlName="displayNameCtrl"
                    placeholder="Name" [errorStateMatcher]="matcher">
                <mat-hint color="white">This will not change any 3rd-party provider name properties</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="white-color">Country</mat-label>
                <br>
                <input matInput placeholder="Country" type="text" formControlName="countryCtrl" placeholder="Name"
                    [errorStateMatcher]="matcher">
                <mat-hint color="white">Abbreviations accepted</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="white-color">Photo URL</mat-label>
                <br>
                <input matInput formControlName="photoCtrl" type="url" placeholder="http" [errorStateMatcher]="matcher">
                <mat-hint color="white">Start with http:// or https://</mat-hint>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <button class="non-home-button mat-elevation-z7 margin-center" type="submit">Submit</button>
        </div>
    </form>
</section> -->