<div id="flxOnBlock" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex></div>
    <div>
        <p class="lead">{{ongoingLeague.currentPlayer}}</p>
        <p>Min. Price: {{currentPlayer.MinPrice}}</p>
        <p>Avg. Price: {{currentPlayer.AvgPrice}}</p>
        <p>Max. Price: {{currentPlayer.MaxPrice}}</p>
        <p class="lead">Current Bid: {{ongoingLeague.currentBidder}}</p>
        <p class="lead">Current Bidder: {{ongoingLeague.currentBid}}</p>
        <br />
        <div class="button-container">
            <button><span>Bid</span></button>
        </div>
        <br />
        <div class="button-container">
            <button (click)="passTurn()"><span>Pass</span></button>
        </div>

    </div>
</div>
<div fxFlex>
</div>