#tab {
  margin-left: 1em;
}
#tab2 {
  margin-left: 2em;
}
.mat-card {
  width: 300px;
  margin: 0 auto;
  color: black;
  padding-bottom: 2vw;
}

h3 {
  text-align: center;
}

.button-container {
  margin: 0 60px;
  text-align: center;
}

.button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 164px;
  border: 2px solid grey;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button-container button span {
  position: relative;
  z-index: 1;
  color: grey;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button-container button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#bid-glow.button-container button:before {
  background: green;
}
#pass-glow.button-container button:hover,
#pass-glow.button-container button:active,
#pass-glow.button-container button:focus {
  border-color: #ed2553;
}

#bid-glow.button-container button:hover,
#bid-glow.button-container button:active,
#bid-glow.button-container button:focus {
  border-color: green;
}

#pass-glow.button-container button:hover span,
#pass-glow.button-container button:active span,
.button-container button:focus span {
  color: #ed2553;
}

#bid-glow.button-container button:hover span,
#bid-glow.button-container button:active span,
#bid-glow.button-container button:focus span {
  color: green;
}

#pass-glow.button-container button:hover span,
#pass-glow.button-container button:active span,
#pass-glow.button-container button:focus span {
  color: #ed2553;
}

#pass-glow.button-container button:active span,
#pass-glow.button-container button:focus span,
#bid-glow.button-container button:active span,
#bid-glow.button-container button:focus span {
  color: #ffffff;
}

.button-container button:active:before,
.button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}

#flxOnBlock {
  max-width: 98vw;
}

.mat-form-field {
  margin-left: 25%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
/* Font color */
input.mat-input-element {
  color: black;
}

// Title Animation
header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-perspective: 100px;

  perspective: 100px;
}

header:before {
  -webkit-animation: no-transform 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation: no-transform 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url(https://images.unsplash.com/photo-1472545068001-62d94063edd2?auto=format&fit=crop&w=1053&q=80) no-repeat bottom;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    url(https://images.unsplash.com/photo-1472545068001-62d94063edd2?auto=format&fit=crop&w=1053&q=80) no-repeat bottom;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  z-index: -1;
}

header:after {
  -webkit-animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: #f9fcff;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
  right: -5%;
  top: 90%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 0;
}

.header-title,
.header-subtitle {
  color: #fff;
}

.header-subtitle {
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.header-button {
  position: relative;
  -webkit-transform: translateZ(0.1px);
  transform: translateZ(0.1px);
  z-index: 10;
}

.animate-pop-in {
  -webkit-animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  animation: no-transform 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  -webkit-transform: translateY(-4rem) scale(0.8);
  transform: translateY(-4rem) scale(0.8);
}

/* .rocky-dashed {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
} */

.header-title {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.header-subtitle {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.header-button {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.header-down-arrow {
  -webkit-animation: pulse 2s 3s ease-out infinite;
  animation: pulse 2s 3s ease-out infinite;
  bottom: 4vh;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 10;
}

.header-down-arrow img {
  -webkit-animation: no-transform 1s 1s ease-out forwards;
  animation: no-transform 1s 1s ease-out forwards;
  opacity: 0;
  -webkit-transform: translateY(4rem);
  transform: translateY(4rem);
}

/* Animations */

@-webkit-keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes rotate-up {
  100% {
    -webkit-transform: rotateZ(-4deg);
    transform: rotateZ(-4deg);
  }
}

@keyframes rotate-up {
  100% {
    -webkit-transform: rotateZ(-4deg);
    transform: rotateZ(-4deg);
  }
}

// Down Arrow
.outer_div {
  position: absolute;
  right: 0px;
  left: 0px;
  margin: auto;
  width: 100px;
  top: 300px;
}
.chevron {
  position: relative;
  width: 70px;
  animation: move 3s ease-out infinite;
  opacity: 0;

  &::before,
  &::after {
    position: absolute;
    background: white;
    content: "";
    width: 50%;
    height: 8px;
    margin: auto;
  }
  &:nth-child(1) {
    animation: move 3s ease-out 1s infinite;
  }
  &:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  &::before {
    transform: skew(0deg, 30deg);
    left: 0px;
    width: 50%;
  }
  &::after {
    transform: skew(0deg, -30deg);
    right: 0px;
    width: 50%;
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
