@import "_header";

#tab {
  margin-left: 1em;
}
#tab2 {
  margin-left: 2em;
}
.mat-card {
  width: 300px;
  margin: 0 auto;
  color: black;
  padding-bottom: 2vw;
}

.header-content {
  width: 50rem;
}

.button-container {
  margin: 0 60px;
  text-align: center;
}

.button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 164px;
  border: 2px solid grey;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button-container button span {
  position: relative;
  z-index: 1;
  color: grey;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button-container button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#bid-glow.button-container button:before {
  background: green;
}
#pass-glow.button-container button:hover,
#pass-glow.button-container button:active,
#pass-glow.button-container button:focus {
  border-color: #ed2553;
}

#bid-glow.button-container button:hover,
#bid-glow.button-container button:active,
#bid-glow.button-container button:focus {
  border-color: green;
}

#pass-glow.button-container button:hover span,
#pass-glow.button-container button:active span,
.button-container button:focus span {
  color: #ed2553;
}

#bid-glow.button-container button:hover span,
#bid-glow.button-container button:active span,
#bid-glow.button-container button:focus span {
  color: green;
}

#pass-glow.button-container button:hover span,
#pass-glow.button-container button:active span,
#pass-glow.button-container button:focus span {
  color: #ed2553;
}

#pass-glow.button-container button:active span,
#pass-glow.button-container button:focus span,
#bid-glow.button-container button:active span,
#bid-glow.button-container button:focus span {
  color: #ffffff;
}

.button-container button:active:before,
.button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}

#flxOnBlock {
  max-width: 98vw;
}

.mat-form-field {
  margin-left: 25%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
/* Font color */
input.mat-input-element {
  color: black;
}

/* Animations */

@-webkit-keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes rotate-up {
  100% {
    -webkit-transform: rotateZ(-4deg);
    transform: rotateZ(-4deg);
  }
}

@keyframes rotate-up {
  100% {
    -webkit-transform: rotateZ(-4deg);
    transform: rotateZ(-4deg);
  }
}

// Down Arrow
.outer_div {
  position: absolute;
  right: 0px;
  left: 0px;
  margin: auto;
  width: 100px;
  top: 300px;
}
.chevron {
  position: relative;
  width: 70px;
  animation: move 3s ease-out infinite;
  opacity: 0;

  &::before,
  &::after {
    position: absolute;
    background: white;
    content: "";
    width: 50%;
    height: 8px;
    margin: auto;
  }
  &:nth-child(1) {
    animation: move 3s ease-out 1s infinite;
  }
  &:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  &::before {
    transform: skew(0deg, 30deg);
    left: 0px;
    width: 50%;
  }
  &::after {
    transform: skew(0deg, -30deg);
    right: 0px;
    width: 50%;
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
