@import "_color";

.mat-dialog-content {
  overflow: hidden;
  padding-bottom: 4rem;
  margin-top: 3rem;
}

.mat-dialog-title {
  color: black;
  text-align: center;
}

button.mat-button.dialog-button {
  background-color: $button-color;
  color: black;
}
