<h1 mat-dialog-title>{{leagueName}}</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <mat-form-field>
            <br>
            <input matInput id="create-input" type="text" formControlName="teamNameCtrl" placeholder="Team Name"
                [errorStateMatcher]="matcher">
            <mat-hint color="goldenrod">Your default team name is your display name.</mat-hint>
        </mat-form-field>
        <div id="shared-create-buttons" fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-button class="dialog-button" type="submit" cdkFocusInitial>Ok</button>
            <button mat-button class="dialog-button" type="button" (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div>