<ng-container>
    <ongoing-draft [thisAuctionTeam]="thisAuctionTeam" [thisActiveLeague]="thisActiveLeague"></ongoing-draft>
</ng-container>

<div fxLayout="column" fxLayoutAlign="space-around center">
    <div id="lobbyJumbotron" class="jumbotron">
        <h1>{{thisActiveLeague.leagueName}}</h1>
        <p class="lead">Status: {{thisActiveLeague.status}}</p>
        <p class="lead">Draft turn: {{thisActiveLeague.draftTurn}}</p>
        <hr class="my-4">
        <p>Your Team: {{thisAuctionTeam.teamName}}</p>
    </div>

    <other-teams [otherTeamsArr]="this.thisActiveLeague.auctionTeams"></other-teams>
</div>