<div fxLayout="column" fxLayoutAlign="space-around center">
    <div id="lobbyJumbotron" class="jumbotron">
        <h1 class="display-1">{{thisTeam.leagueName}}</h1>
        <p class="lead">Status: {{auctionLeague.status}}</p>
        <hr class="my-4">
        <p>Team Name: {{thisTeam.teamName}}</p>
    </div>
    <ng-container>
        <ongoing-draft [ongoingLeague]="auctionLeague"></ongoing-draft>
    </ng-container>
    <other-teams [otherTeamsArr]="this.auctionLeague.auctionTeams"></other-teams>
</div>