@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

figure.snip1137 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 2rem 10px 10px 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  color: #333;
  text-align: left;
}
figure.snip1137 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1137 img {
  max-width: 100%;
}
figure.snip1137 figcaption {
  position: relative;
  background-color: white;
  padding: 25px;
}
figure.snip1137 h3 {
  text-transform: uppercase;
  margin: 0 0 15px;
  font-weight: 400;
}
figure.snip1137 h3 span {
  font-weight: 800;
}
figure.snip1137 p {
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
}
figure.snip1137 .icons {
  position: absolute;
  top: 25px;
  left: 25px;
}
figure.snip1137 i {
  margin-right: 5px;
  display: inline-block;
  font-size: 28px;
  color: #000000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: white;
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
figure.snip1137 a {
  opacity: 0.8;
}
figure.snip1137 a:hover {
  opacity: 1;
}
figure.snip1137:hover img,
figure.snip1137.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1137:hover i,
figure.snip1137.hover i {
  opacity: 1;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}
figure.snip1137:hover a:first-child i,
figure.snip1137.hover a:first-child i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figure.snip1137:hover a:nth-child(2) i,
figure.snip1137.hover a:nth-child(2) i {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1137:hover a:nth-child(3) i,
figure.snip1137.hover a:nth-child(3) i {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* Demo purposes only */
html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}

button {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  figure.snip1137 img {
    min-width: 100%;
    max-height: 1%;
    bottom: 10vh;
  }
  figure.snip1137 {
    width: 150px !important;
    margin: 10vh auto;
  }
}
