<mat-toolbar class="toolbar mat-elevation-z7" role="banner" fxLayout="row" fxLayoutAlign="space-around center">
    <div id="left-spacer">
        <div class="bar"></div>
        <nav>
            <ul>
                <li><a routerLink="search-stock" routerLinkActive="active">Search</a></li>
                <li><a routerLink="my-list" routerLinkActive="active">My List</a></li>
                <li><a routerLink="history" routerLinkActive="active">Search History</a></li>
                <li><a routerLink="profile" routerLinkActive="active">Account</a></li>
            </ul>
        </nav>
    </div>

    <div class="spacer">
        <h1 class="mat-typography mat-display-1 text-center profile-typography">Fantasy Football Draft</h1>

    </div>

    <div id="right-spacer" class="spacer">
        <div id="logout">Logout</div>
        <a>
            <mat-icon id="logout-icon" (click)="logout()">exit_to_app</mat-icon>
        </a>
    </div>
</mat-toolbar>