<!-- Highlight Card -->
<section fxLayout="column" fxLayoutAlign="space-around center">
    <div class="card highlight-card card-small mat-elevation-z7" fxLayout="column" fxLayoutAlign="space-around center">
        <img id="rocket"
            src="https://images.vexels.com/media/users/3/127059/isolated/preview/8b289179f964771996a33c28f0a28eff-america-flag-print-rocket-by-vexels.png"
            alt="America flag print rocket Transparent PNG" title="America flag print rocket Transparent PNG" />

        <span>Created by <strong>Chris You</strong></span>
    </div>
</section>